Repository ansys/grantami-serverapi-openapi, pull requests merged in 2025-05, with the labels that each got.

#372 Generate build provenance attestation
  .github/workflows/build_and_test_library.yml
Labels: maintenance

#375 Prepare 5.0.0rc1 release
  .github/workflows/build_and_test_library.yml
  ansys-grantami-serverapi-openapi/pyproject.toml
  pom.xml
Labels: maintenance, code-gen

#376 Prepare 5.0.0 release
  ansys-grantami-serverapi-openapi/pyproject.toml
  pom.xml
Labels: maintenance, code-gen

#377 Update base version number to 5.1.0
  ansys-grantami-serverapi-openapi/pyproject.toml
  pom.xml
Labels: maintenance, code-gen

#379 Use commit SHAs
  .github/workflows/build_and_test_library.yml
  .github/workflows/dependabot_approve.yml
  .github/workflows/generate_library.yml
  .github/workflows/label.yml
  ansys-grantami-serverapi-openapi/pyproject.toml
Labels: maintenance

#394 Update codegen-template to 5.0.1
  ansys-grantami-serverapi-openapi/pyproject.toml
  ansys-grantami-serverapi-openapi/src/ansys/grantami/serverapi_openapi/__init__.py
  pom.xml
Labels: enhancement, code-gen
